.news{
    display: inline-block;
    margin: 20px 0;
    text-decoration: none;
    cursor: pointer;
}
.news__img{
    width:100%;
    height:370px;
}
.news__title{
    margin: 10px 0;
    text-transform: capitalize;
    font-size: 21px;
    font-weight:500;
    height: 30px;
    line-height: 25px;
    color: rgb(205, 247, 19);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.news__title:hover{
    color: var(--primary-color);
}
.news__description{
    font-size: 14px;
    color: #777;
    height: 52px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.detail__title{
    font-size: 0px;
    color: var(--primary-color);
    text-align: center;
    margin: 20px 0;
}